/* GLOBAL RESETS */
* { box-sizing: border-box; }

// VARIABLES
$color-text-body: rgba(0,0,0,0.8);
$color-text-headings: rgba(0,0,0,1);
$color-accent: rgb(233, 156, 130);
$color-accent-dark: rgb(239, 108, 64);
$color-accent-light: rgb(253, 245, 230);
$color-link: rgb(168, 203, 180);
$color-link-dark: rgb(73, 160, 110);

$color-lightgrey: rgba(30, 69, 167, 0.5);

$font-family-sans: 'acumin-pro', Helvetica, Arial, sans-serif;
$font-family-serif: 'kepler-std-display', Georgia, 'Times New Roman', Times, serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/helpers";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/sitenav";
