/* SITE-HEADER SITE NAV */
.site-header .site-nav {

    .menu-button {
        position: absolute;
        top: 0.75em;
        right: 0.75em;
        margin: 0;
        padding: 8px 12px 0 12px;
        font-size: inherit;
        line-height: 1;
        z-index: 20;
        cursor: pointer;
        background-color: transparent;
        border: none;
    
        svg {
            rect {
                transition: 0.3s all ease-out;
            }
         }   
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $color-accent-dark;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(100%,0);
        transition: 0.3s all ease-out;
        z-index: 1;
    }

    li {
        font-size: 4vw;
        min-width: 20vw;
        transform: translate(10%,0);
        transition: 0.3s all ease-out 0.3s;
        opacity: 0;
    }

    #menubar-top, #menubar-middle, #menubar-bottom {
        transform-origin: center;   
    }

    &[data-navstate="closed"] {
        ul {
            transform: translate(100%,0);
        }
    }

    &[data-navstate="open"] {
        .menu-button {
            position: fixed;
        }

        #menubar-top {
            transform: translate(7px,7px) rotate(-45deg);
        }

        #menubar-middle {
            opacity: 0;
        }

        #menubar-bottom {
            transform: translate(0px,-4px) rotate(45deg);
        }

        ul {
            transform: translate(0,0);
        }

        li {
            transform: translate(0,0);
            opacity: 1;
        }
    }
}

/* FOOTER SITE NAV */
.site-footer .site-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    a {
        display: inline-block;
        padding: 1em;
        line-height: 1;
    }
}